{
  "ignore": "node_modules/**",
  "presets": [["es2015", {"modules": false}]],
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]],
  "env": {
    "test": {
      "presets": ["es2015"],
      "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
    }
  }
}
